
a img {border: none; }

a, #navEZPagesTOC ul li a {
        color:#4d5255;
        text-decoration:none;
        }
 
a:hover, #navEZPagesTOC ul li a:hover, #navMain ul li a:hover, #navSupp ul li a:hover, #navCatTabs ul li a:hover {

        }

h4, h5, h6, LABEL, h4.optionName, LEGEND, ADDRESS, .sideBoxContent, .larger{
        
        }

.attribsSelect{ padding:0 5px 0 0;}

.biggerText {

        }

#gender-male, #gender-female, #email-format-text{ margin-left:8px;}
.information{ padding:8px 0 0 16px;}

CODE {
        font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px;
        }

FORM, SELECT, INPUT {
       
        }
FORM	{margin:0px; padding:0px;}

TEXTAREA {
        margin: auto;
        display: block;
        width: 95%;
        }

input:focus, select:focus, textarea:focus {

        }

FIELDSET {
        padding: 0.5em;
        margin: 0.5em 0em;
		border:1px solid #E1E1E1;
        }

LEGEND {
        font-weight: bold; padding:0 5px; color:#4d5255;
        }

LABEL, h4.optionName {
        
        }

LABEL.checkboxLabel, LABEL.radioButtonLabel {
		margin-left:5px;
        }

#logo, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .centerBoxContentsAlsoPurch, .attribImg {
        float: left;
        }

LABEL.inputLabel {
		width:9em;
        float: left;
		padding-left:10px;
		margin:5px 0;
		padding-right:10px;
        }

LABEL.inputLabelPayment {
        width: 15em;
        float: left;
		padding:4px 0 4px 0;
        }

LABEL.selectLabel, LABEL.switchedLabel, LABEL.uploadsLabel  {
        width: 12em;
        float: left;
        }

P, ADDRESS {
        padding: 0.5em;
        }
#contactUsNoticeContent{ border-top:solid 1px #e5e5e5; margin:15px 0 0; padding:15px 0 20px 7px;}

ADDRESS {
        font-style: normal;
        }

.clearBoth {
        clear: both;
        }

HR {
	color:#C1C1C1;
	border:0; border-top:1px solid #E1E1E1;
	margin:5px 0px;
}

/*warnings, errors, messages*/
.messageStackWarning, .messageStackError, .messageStackSuccess, .messageStackCaution {
        line-min-height: 1.8em;
        padding: 0.6em 0.2em 0.2em;
        background:#f76218;
		vertical-align:bottom;
        }
.messageStackError img{ margin:-5px 10px 0px;}
.messageStackWarning, .messageStackError {
        color:#fff; 
        }

.messageStackSuccess {
        background-color: #F1F6E6;
        color:#4d5255;
        }

.messageStackCaution {
        background-color: #FFFF66;
        color:#4d5255;
        }

/*wrappers - page or section containers*/
#mainWrapper {
        text-align: left;
        vertical-align: top;
        }

#headerWrapper, #contentMainWrapper, #logoWrapper, #cartBoxListWrapper, #ezPageBoxList, #cartBoxListWrapper ul, #ezPageBoxList ul, #mainWrapper, #popupAdditionalImage, #popupImage {
        }

#navColumnOneWrapper, #navColumnTwoWrapper, #mainWrapper {
       
        } 

#tagline {
        color:#4d5255; margin-top:10px;
        font-size: 12px;
        text-align : center;
        vertical-align: middle;
        }

#sendSpendWrapper {
        border: 1px solid #cacaca;
        float: right;
        margin: 0em 0em 1em 1em;
        }

.floatingBox, #accountLinksWrapper, #sendSpendWrapper, #checkoutShipto, #checkoutBillto, #navEZPagesTOCWrapper {
        margin: 0;
		color:#4d5255;
        }
.floatingBox a {color:#4d5255;}
#productDetailsList li a{ color:#4d5255;}
#productDetailsList li { color:#4d5255;}
.wrapperAttribsOptions { display:block;
        margin: 0.3em 0em;
        }

/*navigation*/
#sorter {margin:0;}
	#sorter label{ font-weight:bold; color:#fff;}

.navSplitPagesResult { margin:5px 10px 17px 20px;}
.navSplitPagesLinks{ margin:0 0 10px 0;}
.navSplitPagesLinks a {display:inline-block; background:#ebede5; padding:5px 10px; color:#3e3e3e;  text-decoration:none;}
	.navSplitPagesLinks a:hover{ background:#bbbb91;}
	.navSplitPagesLinks strong{  display:inline-block; background:#393733; padding:5px 10px; color:#fff;  }

.navSplitPagesResult a {color:#161616;}

.navNextPrevList {
        display: inline;
        white-space: nowrap;
        margin:0px 2px 3px 0px;
        list-style-type: none;
		float:left;
        }
		

.navNextPrevWrapper {margin:0px 10px 5px 10px; padding:15px 0px; }
.navNextPrevCounter {
        margin: 0em;
		padding:7px 0 0px;
		color:#000;
		display:block;
        }
.navNextPrevWrapper span{
	overflow:hidden;
	position:relative;
	float:left;
}


#navMainWrapper, #navSuppWrapper, #navCatTabsWrapper {
       
        }

#navMain ul, #navSupp ul, #navCatTabs ul  {
        margin: 0;
        padding:  0.5em 0em;
        list-style-type: none;
        text-align: center;
        line-min-height: 1.5em;
        }

#navMain ul li, #navSupp ul li, #navCatTabs ul li {
       
        }

#navMain ul li a, #navSupp ul li a, #navCatTabs ul li a {
      
        }

#navEZPagesTOCWrapper {
        font-weight: bold; float:inherit;
        min-height: 1%;
		padding:0.5em;
		margin:5px 0px;
        border: 1px solid #E1E1E1;
        }

#navEZPagesTOC ul {
        margin: 0;
        padding:  0.5em 0em;
        list-style-type: none;
        line-min-height: 1.5em;
        }

#navEZPagesTOC ul li {
        white-space: nowrap;
        }

#navEZPagesTOC ul li a {
        padding: 0em 0.5em;
        margin: 0;
        }

#navMainSearch, #navCategoryIcon {
        margin:5px 5px 0 0px;
        }



#navEZPagesTop {
        
        }


/*The main content classes*/
#contentColumnMain, #navColumnOne, #navColumnTwo, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew, .alert {
        vertical-align: top;
        }

/*.content,*/ #productDescription, .shippingEstimatorWrapper {
        /*font-size: 1.2em;*/
        /*padding: 0.5em;*/
        }
.content{ margin-bottom:10px;}

.alert{ font-size:11px; color:#a3a3a3; margin-left:0.5em; margin-right:5px;}
.advisory {}
.important {
        font-weight: bold;
		margin:5px;
        }
.notice {}
.rating{}
.gvBal {
        float: right;
        }
#bannerOne, #bannerTwo,  #bannerThree,  #bannerFour,  #bannerFive,  #bannerSix {
        padding: 0em;
        }

.smallText, #siteinfoLegal, #siteinfoCredits, #siteinfoStatus, #siteinfoIP {
        font-size: 0.9em;
        }

/*Shopping Cart Display*/

.tableHeading TH {

        }

.tableHeading, #cartSubTotal { 
      
	  }


.tableRow, .tableHeading, #cartSubTotal {
        min-height: 2.2em;
        }

.cartUnitDisplay, .cartTotalDisplay {
        text-align: right;
        padding-right: 0.2em;
        }

#scUpdateQuantity {
        width: 2em;
        }

.cartQuantity {
        width: 4.7em;
        }

.cartNewItem {
        color:#4d5255;
        position: relative;  /*do not remove-fixes stupid IEbug*/
        }

.cartOldItem {
        /*do not remove-fixes stupid IEbug*/
        }

.cartBoxTotal {
        text-align: right;
        font-weight: bold;
        }

.cartRemoveItemDisplay {
        width: 3.5em;
        }

#cartAttribsList {
        margin-left: 1em;
        }

#mediaManager {
width: 50%; 
margin: 0.2em;
padding: 0.5em;
}


#cartBoxListWrapper ul, #ezPageBoxList ul {
        list-style-type: none;
        }

#ezPageBoxList li, .cartBoxTotal {
        margin: 0;
        padding: 0.2em 0em;
        } 

.totalBox {
        width: 5.5em;
        text-align: right;
        padding: 0.2em;
		color:#000;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	line-height:20px;
	font-weight:normal;
        }

.lineTitle, .amount {
        text-align: right;
        padding: 0.2em;
        }

.amount {
        width: 5.5em;
        }

/*Image Display*/


.categoryIcon {}
#cartImage {
        margin: 0.5em 1em;
        }

/*Attributes*/
.attribImg {
        width: 20%;
        margin: 0.3em 0em;
}

.attributesComments {}

/*list box contents*/
.centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew {

        }

/*sideboxes*/
.columnLeft {}
.columnRight {}






.sideBoxContent {
        }



.rightBoxHeading {
        margin: 0em;
        background-color: #663366;
        padding: 0.2em 0em;
        }

h3.leftBoxHeading a:hover {
        color: #FFFF33;
        text-decoration: none;
        } 

h3.rightBoxHeading a:hover {
        color: #FF0000;
        text-decoration: none;
        }

.rightBoxContent {
        margin-bottom: 1em;
        }

.centeredContent, TH, #cartEmptyText, #cartBoxGVButton, #navCatTabsWrapper, #navEZPageNextPrev, #bannerOne, #bannerTwo,  #bannerThree,  #bannerFour,  #bannerFive,  #bannerSix, #siteinfoLegal, #siteinfoCredits, #siteinfoStatus, #siteinfoIP, .center, .cartRemoveItemDisplay, .cartQuantityUpdate, .cartQuantity, #cartBoxGVBalance, .leftBoxHeading, .centerBoxHeading,.rightBoxHeading, .productListing-data, .accountQuantityDisplay, .ratingRow, LABEL#textAreaReviews, #productMainImage, #reviewsInfoDefaultProductImage, #productReviewsDefaultProductImage, #reviewWriteMainImage, .centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .additionalImages, .centerBoxContentsSpecials, .centerBoxContentsAlsoPurch, .centerBoxContentsFeatured, .centerBoxContentsNew, .gvBal, .attribImg {

       width:auto;
        }
.categoryListBoxContents a {text-decoration:none; color:#C00505; text-transform:uppercase; text-align:center;}

.cartTotalsDisplay{

}


#bannerboxHeading {
        background-color: #0000CC;
}

#upProductsHeading {
        text-align: left;
        }

#upDateHeading {
        text-align: right;
        }

/*misc*/
.back {
        float: left;
        }

.forward {
        float: right;
        }

.bold {
        font-weight: bold;
        }

.rowOdd {
        
        min-height: 1.5em;
        vertical-align: top;
        }

.rowEven { padding:5px 5px 5px 5px;
        
        min-height: 1.5em;
        vertical-align: top;
        }

CAPTION {
        /*display: none;*/
        }

#myAccountGen li, #myAccountNotify li {
        margin: 0;
        } 

.accountTotalDisplay, .accountTaxDisplay {
        width: 20%;
        text-align: right;
        /*vertical-align: top*/
        }

.accountQuantityDisplay {
        width: 10%;
        vertical-align: top
        }

TR.tableHeading {
        min-height: 2em;
        }

#siteMapList {
        width: 90%;
        float: right;
        }
#siteMapList ul{ list-style:circle;}

.ratingRow {
        margin: 1em 0em 1.5em 0em;
        }

LABEL#textAreaReviews {
        font-weight: normal;
        }


/*!!!!!!!!!*/
#gvFaqDefaultMainContent{margin:10px 15px 0 5px;}
#gvFaqDefaultContent{ padding:10px 0; color:#000; border-top:solid 1px #eceaea;}
#reviewsDefaultNoReviews{margin:0 5px 5px 5px;}
#createAcctSuccessMainContent{ margin:5px;}

.main_block {margin:20px;}

.ee	{text-decoration:line-through;}






/*  --------------- PRICES ---------------  */

.normalprice, .productSpecialPriceSale {
        
}
		
.normalprice {
	color:#b2af80;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	line-height:20px;
	font-weight:normal;
	text-decoration:line-through;
	margin-right:15px;
}

.productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#000;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	line-height:20px;
	font-weight:normal;}

.productSpecialPriceSale {
	text-decoration:line-through;
}
		
.productPriceDiscount {color:#373737; font-size:12px;}




/*  --------------- BUTTONS ---------------  */

.buttonRow, .buttonRow2 { 
		margin:0;
		padding:7px 0;
}
.buttonRow a, .buttonRow2 a { text-decoration:none;}

.buttonRow input, .buttonRow2 input, .buttonRow3 input {border:none; padding:0; cursor: pointer;}

/* product lightbox */
.con_right .jersey_pro {overflow:hidden;zoom:1;}
.jersey_pic {float:left;max-width:281px;}

.top_one {width:279px;height:246px;border:1px solid #c0c0c0;overflow:hidden;line-height:246px;vertical-align:middle;display:table-cell;}
.top_one img {display:none;}
.top_one .top_pic {display:block;margin:auto;_margin-top: expression_r(( 246 - this.height ) / 2);}
.bottom_one { background:#434341;max-width:265px;margin:7px 0;overflow:hidden;zoom:1;padding:7px 7px 5px 7px;}
.bottom_one .out_one {width:235px;height:62px;float:left;overflow:hidden;}
.out_one  img {width:53px;height:50px;filter:alpha(opacity=40);opacity: 0.4;display:block;}
.out_one .special_img {filter:alpha(opacity=100);opacity: 1;border:1px black solid;}
.bottom_one input {float:left;width:15px;height:52px;margin-top:5px;}
.bottom_one .main_one {float:left;height:52px;}

.tanchu {position:absolute;left:20%;width:800px;top:80px;z-index:99;display:none;}
.top {width:800px;height:500px;margin:0 auto;background-color:white;overflow:hidden;line-height:500px;vertical-align:middle;display:table-cell;}
.top img {display:none;}
.top .change_img {display:block;margin:0 auto;_margin-top: expression_r(( 500 - this.height ) / 2);}
.bottom_two {width:738px;margin:40px auto;overflow:hidden;zoom:1;}
.bottom_two .out {width:668px; float:left;margin-top:5px;float:left;overflow:hidden;}
.bottom_two .main {height:122px;float:left;}
.out img {width:125px;height:120px;border:1px black solid;filter:alpha(opacity=40);opacity: 0.4;float:left;margin-right:5px;}
.out .special {filter:alpha(opacity=100);opacity: 1;}
.bottom_two input {float:left;width:25px;height:132px;margin-right:5px;}
#mask {background-color:black;width:100%;filter:alpha(opacity=70);opacity: 0.7;height:100%;_height:2000px;position:absolute;left:0;top:0;z-index:60;display:none;}
.close {width:23px;height:23px;background:url("../images/close.gif") no-repeat;cursor:pointer;font-size:18px;color:orange;font-weight:bold;position:absolute;top:0;left:777px;}
.lf_but {width:42px;height:74px;background:url("../images/c_left.gif") no-repeat;cursor:pointer;position:absolute;left:20px;top:213px;z-index:25;}
.rg_but {width:42px;height:74px;background:url("../images/c_right.gif") no-repeat;cursor:pointer;position:absolute;left:738px;top:213px;z-index:25;}
.lf_but_color {width:42px;height:74px;background:url("../images/m_left.gif") no-repeat;cursor:pointer;position:absolute;left:20px;top:213px;z-index:25;}
.rg_but_color {width:42px;height:74px;background:url("../images/m_right.gif") no-repeat;cursor:pointer;position:absolute;left:738px;top:213px;z-index:25;}

.share {overflow:hidden;zoom:1;}
.share .share_span,.share .share_link {float:left;}
.share .share_span {font-weight:bold;margin-right:10px;}
.share .share_link {margin-right:6px;}

.jersey_rg {float:left;margin-left:14px;width:400px;display:inline;position:relative;}
.jersey_rg span {display:block;}
.jersey_rg .pro_num {text-align:right;font-weight:600;width:360px;}
.jersey_rg .jer_pro_inf {font-size:18px;color:#ff6c02;font-weight:600;margin-top:6px;}
.jersey_rg .jer_price {margin-top:8px;}
.jersey_rg .jer_price var {text-decoration:line-through;margin-right:20px;font-size:14px;font-weight:bold;}
.jersey_rg .jer_price em {font-size:14px;color:#da0000;font-weight:bold;}
.jersey_rg .jer_save_price {font-size:14px;font-weight:bold;color:#3f8fcc;margin-top:6px;}
.jersey_rg .jer_size {margin-top:10px;}
.jersey_rg .jer_size label {font-size:14px;color:black;font-weight:600;}
.jersey_rg .jer_cart {display:block;width:184px;padding-left:59px;height:45px;margin-top:26px;background:url("../images/abc.gif") -157px -386px no-repeat;font-size:16px;font-weight:bold;line-height:45px;color:#fc8121;}
.jersey_rg .jer_free {position:absolute;left:284px;top:74px;width:120px;height:119px;background:url("../images/abc.gif") 0 -365px no-repeat;}
.top_one img { width:230px; height:270px;}

/* thumbnail */
.thumbnail{ width:116px; height:116px; margin:10px 10px 5px 5px;; float:left;}
.thumbnail img { width:118px; height:116px;}
.thumbone{max-width: 270px; height:auto; background:none;}
.thumbone img { max-width:260px;}


.productGeneral .normalprice, .productGeneral .price{ float:left;}
.productGeneral .save_price{ clear:left;}
#productTellFriendLink, #productReviewLink{ padding:0px; float:left;}
#productDetailsList{ margin-left:0px;}
.zhuce table tr{ height:32px;}
.zhuce_tit{ height:26px;}