/* News */
.newsHeadlineText { text-align: center; width: 100%; height: 15px; font-size: .9em;  padding: 3px 0 0 0; margin:10px 0 0;}
.newsHeadlineText IMG { vertical-align: middle; line-height:18px; }
.newsHeader { background: #FFFFFF; height: 30px; font-size: 24px; text-align: center; padding: 0; margin: 10px 0 0 0; }

p.articleHeading { line-height:24px; font-weight: bold; margin: 0; padding: 0; }
span.articleHeading { font-weight: bold; }

p.articleByLine { font-size: .9em; padding: 0 0 0 20px; margin: 0; }
p.articleByLine SPAN.author { font-style: normal; }
p.articleByLine SPAN.comments { font-style: italic; }
p.articleByLine A { text-decoration: underline; }

div.articleTextBlock { clear: both; padding: 0; margin: 0; }
div.articleText, p.articleText { margin: 0; padding: 0; }

IMG.articleImage { border: 3px double #9a9a9a; background: #FFFFFF; padding: 0; margin: 10px 10px 10px 10px; }

p.newsListingDate { font-weight: bold; text-align: center; margin: 0; padding: 0; }

ul.articleLinkList { list-style-type: none; line-height: 1.5em; padding: 10px 0 0 0; margin: 0; }
ul.archiveLinkList { list-style-type: none; line-height: 1.5em; padding: 0; margin: 0; }
ul.articleLinkList li, ul.archiveLinkList li { line-height:22px; background-position: 17px 2px; padding: 0 0 0 35px; }
ul.articleLinkList li.articleStoreLink { background-image: url("../images/icons/news_link_2.gif"); background-repeat: no-repeat; background-position: 17px 4px; padding: 0 0 0 35px; }
ul.articleLinkList li.articleProductLink { background-image: url("../images/icons/cart.gif"); background-repeat: no-repeat; background-position: 17px 0px; padding: 0 0 0 35px; }
ul.articleLinkList a:hover, ul.archiveLinkList a:hover, .articleText a:hover { text-decoration: underline; }

.commentsHeading { background: #f2f1ee; padding: 3px; }
.commentsBody { background: #FFFFFF; padding: 3px; }
p.backLink { float: right; margin: 0; padding: 0; clear: right; }
.commentsAuthor { text-align: left; float: left; margin: 0; width: 45%; }
.commentsSubject { font-weight: bold; }
.commentsDate { text-align: right; float: right; padding: 0; margin: 0; }
div.commentsBody p { clear: both; padding: 0 10px 10px 10px; margin: 0; }

fieldset.commentsFieldSet { text-align: left; background: #f2f1ee; border: 1px solid #e7e6e0; padding: 1em; margin: 10px 0 0 0; }
fieldset.commentsFieldSet legend { padding: 0.2em 0.5em; border: 1px solid #c96e29; background: #fff; color: #000; text-align: right;}
fieldset.commentsFieldSet label { display: block; text-align: left; margin: 3px;}
fieldset.commentsFieldSet label input { display: block; }
.commentsSubmit { text-align: right; }

.splitSolid { height: 1px; background: #000000; padding: 0; margin: 0; }
.splitSolidGray { height: 1px; background: #9a9a9a; padding: 0; margin: 0; }
.clearSplit { height: 10px; padding: 0; margin: 0; }
.splitSolid hr, .splitSolidGray hr, .clearSplit hr { display: none; }

.clearboth { clear: both; height: 1px; width: 100%; }
.clearboth hr { display: none; }

.navSplitPagesLinks .mav_num { color:#333; line-height:26px; }
