
/* ----------------------- BOXES ------------------------- */

.box {margin-bottom:30px;}

.box-head {
	font-size:18px;
	line-height:25px;
	color:#fff;
	text-transform:uppercase;
	font-weight:normal;
	font-family: 'Hammersmith One', sans-serif;
	padding:7px 0 8px 19px;
	letter-spacing:-1px;
}
.box-head a {
	color:#fff;
	text-decoration:none;
}
.box-head a:hover {
	text-decoration:underline;
}

.box-body {
	padding:2px 0 0 0;
}

.box-body ul {margin:0; padding:0; list-style:none;}
.box-body ul li {
	border-bottom:1px solid #000;
}
.box-body ul li a {
	color:#fff;
	font-size:11px;
	line-height:12px;
	text-decoration:none;
	text-transform:uppercase;
	padding:8px 0 9px 21px;
	display:block;
}
.box-body ul li a:hover {
	color:#bf0000;
}
.box-body ul li.category-products a:hover,
.box-body ul li .category-subs-parent-selected,
.box-body ul li .category-subs-selected{
	color:#bf0000;
}
.box-body ol {margin:0; padding:0; list-style:decimal-leading-zero inside;}
*+html .box-body ol {margin:0; padding:0; list-style:decimal inside;}
.box-body ol li {
	padding:0 0 13px 21px;
	color:#bf0000;
	font-size:11px;
	line-height:16px;
}
.box-body ol li a {
	text-decoration:none;
	color:#898888;
}
.box-body ol li a:hover {
	color:#fff;
}


/* ----------------------- LISTING BOXES ------------------------- */


#categories {}
#categories .box-head{
	display:none;
}


#moreinformation {}


#information {}


#bestsellers {}


#ezpages {}


#orderhistory {}
#orderhistory .box-body img {background:#FFFFFF; padding:2px; border:1px solid #AAAAAA; vertical-align:middle; margin:2px 0px 2px 15px;}
#orderhistory .no-bg{ background:none; padding:0;}
#orderhistory a{ display:inline; padding-left:0;}
#orderhistory li{
	padding:5px 0;
}


/* ----------------------- BANNER BOXES ------------------------- */

#bannerbox {}

#bannerbox2 {}

#bannerboxall {}



/* ----------------------- PRODUCT BOXES ------------------------- */

#featured a img, 
#whatsnew a img, 
#specials a img, 
#reviews a img, 
#manufacturerinfo img, 
#productnotifications img {margin:0 0 8px;}

#reviews img {margin:5px 0 0;}



#featured {
	margin:0 10px 30px;
	width:201px!important;
	background:#fff;
}
#featured .box-head a{
	color:#737373;
}
#featured .box-body{
	text-align:center;
	padding-bottom:10px;
}
#featured .box-body .name{
	color:#f40606;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	text-decoration:underline;
	display:inline-block;
	padding-bottom:10px;
}
#featured .box-body .name:hover{
	text-decoration:none;
	color:#000;
}
#featured .box-body .normalprice {text-decoration:line-through; color:#181818;
	font-size:22px;
	line-height:24px;
	font-weight:normal;}
#featured .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#181818;
	font-size:22px;
	line-height:24px;
	font-weight:normal;}


#whatsnew {
	margin:0 10px 30px;
	width:201px!important;
	background:#fff;
}
#whatsnew .box-head a{
	color:#737373;
}
#whatsnew .box-body{
	text-align:center;
	padding-bottom:10px;
}
#whatsnew .box-body .name{
	color:#f40606;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	text-decoration:underline;
	display:inline-block;
	padding-bottom:10px;
}
#whatsnew .box-body .name:hover{
	text-decoration:none;
	color:#000;
}
#whatsnew .box-body .normalprice {text-decoration:line-through; color:#181818;
	font-size:22px;
	line-height:24px;
	font-weight:normal;}
#whatsnew .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#181818;
	font-size:22px;
	line-height:24px;
	font-weight:normal;}


#specials {
	margin:0 10px 30px;
	width:201px!important;
	background:#fff;
}
#specials .box-head a{
	color:#333;
}
#specials .box-body{
	text-align:center;
	padding-bottom:10px;
}
#specials .box-body .name{
	color:#f40606;
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	text-decoration:underline;
	display:inline-block;
	padding-bottom:10px;
}
#specials .box-body .name:hover{
	text-decoration:none;
	color:#000;
}
.desc .name{ color:#F40606;}
#specials .box-body .normalprice {text-decoration:line-through; color:#979797;
	font-size:14px;
	line-height:24px;
	font-weight:normal;}
#specials .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#181818;
	font-size:22px;
	line-height:24px;
	font-weight:normal;}


#reviews {
	margin:0 10px 30px;
	width:201px!important;
	background:#fff;
}
#reviews .box-head a{
	color:#737373;
}
#reviews .box-body{
	text-align:center;
	padding-bottom:10px;
}

#manufacturerinfo {}


#productnotifications {
	width:201px!important;
	margin:0 auto;
}
#productnotifications .box-body{ text-align:center; 	padding:10px;
	background:#fff;}




/* ----------------------- FORM BOXES ------------------------- */

#search {}
#search .box-body{
	overflow:hidden;
}
#search input{ border:solid 0px; padding:0; background:none; vertical-align:middle; float:left;}
#search .input1{
	float:left;
	padding:0 3px;
	background:url("../images/search-bg.gif") no-repeat left top;
	border:none;
	height:20px;
	width:150px;
	margin-left:20px;
}


#manufacturers {}
#manufacturers .box-body {text-align:center;}


#currencies {}
#currencies .box-body {text-align:center;}
#currencies select{ width:90%;}

#tellafriend {
	width:201px!important;
	margin:0 auto;
}
#tellafriend .box-body{ text-align:center; 	padding:10px;
	background:#fff;}
#tellafriend .no-border input{ border:solid 0px; padding:0;}

#recordcompanies {}
#recordcompanies .box-body {text-align:center;}


#musicgenres {}
#musicgenres .box-body {text-align:center;}



/* ----------------------- TEXT BOXES ------------------------- */

#languages {}
#languages .box-body {text-align:center;}


#whosonline {}
#whosonline .box-body {text-align:center; color:#fff;}


#documentcategories {}


#shoppingcart {}
#shoppingcart .cart_line {}
#shoppingcart #cartBoxEmpty {text-align:center; color:#fff;}
#shoppingcart li{
	padding:5px 15px;
}
#shoppingcart li a{	
	display:inline;
	padding-left:0;
}
#shoppingcart .price{
	color:#fff;
	padding-right:15px;
}
