body,div,a,ul,li,ol,span,p,em,var,h1,h2,h3,dl,dd,dt,strong,form,input {padding:0;margin:0;font-size:12px;color:#737373;font-family:Arial,Verdana,Helvetica,sans-serif;}
body {background-color:white;position:relative;}
ul,ol,li {list-style-type:none;color:#737373;}
a {text-decoration:none;}
a img {border:0 none;}
em,var {font-style:normal;}



.home {width:1200px;margin:0 auto;position:relative;}
.hd_long {background-color:#eeeeee;border-bottom:1px solid #dcdcdc;}
.hd_one {overflow:hidden;zoom:1;line-height:30px;width:970px;margin:0 auto;padding:0 15px;}
.hd_one .curr_doll {float:right;margin-right:10px;}
.curr_doll em,.curr_doll form {float:left;}
.curr_doll form {margin-top:6px}
.one_left {float:left;}
.hd_color {color:#0066b0;font-weight:bold; }
.hd_color:hover {color:#0066b0;text-decoration:underline;font-weight:bold;}
.hd_create_color:hover {color:#0066b0;text-decoration:underline;}

.one_center {float:left;line-height:30px; text-align:center;}
.one_center .account {padding-left:15px;}
.one_center a:hover {color:#0066b0; text-decoration:underline; }
.one_center .name_color {font-weight:bold;color:#0066b0;}
.one_center .name_color:hover {text-decoration:none;}

.hd_two {width:1000px;margin:0 auto;overflow:hidden;zoom:1;}
.hd_two .logo,.search input {float:left;}
.hd_two .two_center,.hd_two .hd_pic {float:left;margin-top:23px;}
.two_center {width:385px;}
.two_center .search {border:1px solid #c5c5c5;padding:3px 0;width:383px;overflow:hidden;zoom:1;}
.search form,.fd_in form {overflow:hidden;zoom:1;}
.search .text {float:left;border:0 none;width:260px;height:21px;padding:7px 0 5px 3px;}
.search .sub {float:left;border:0 none;background:url("../images/abc.gif") -44px -82px no-repeat;width:112px;height:33px;margin-right:3px;overflow:hidden;cursor:pointer;}
.search .sub_cheng {float:left;border:0 none;background:url("../images/abc.gif") -168px -248px no-repeat;width:112px;height:33px;margin-right:3px;overflow:hidden;cursor:pointer;}
.two_center span,.two_center var,.two_center .a_color {-webkit-text-size-adjust:none; font-size:10px; }
.a_color:hover {color:#cb0709; text-decoration:underline;}
.hd_pic {margin-left:21px;}
.hd_pic a {margin-right:12px;}

.hd_nav {float:left;background:url("../images/nav.gif") 0 -42px repeat-x;line-height:42px;width:1004px;margin:0 auto;margin-left:98px;display:inline;}
.cate_list {display:none;padding:9px 0 12px;width:214px;position:absolute;border:5px solid #e0e0e0; border-top:2px solid #e0e0e0; left:877px;top:128px;z-index:50;background-color:#fff;}
.cate_list ul li {line-height:24px;text-align:left;width:200px;height:24px;overflow:hidden;margin-left:12px;;}
.cate_list ul li a:hover {color:#fff; background-color:#ff6c00; font-weight:bold; font-size:14px;}

.li_one {position:absolute;left:0;top:40px;z-index:30;display:none;}


.nav_one {padding:12px 5px 5px 0;width:177px;border:1px solid #b4b4b4;background-color:#ececec;}
.nav_one li {line-height:30px;height:30px;overflow:hidden;zoom:1;margin:0 auto;width:171px;}
.nav_one li a {float:left;width:161px;text-align:left;padding-left:10px;}
.nav_one li a:hover {background:url("../images/nav.gif") 0 -168px repeat-x;color:white;}

													/*nav_left*/
.nav_left,.nav,.nav .nav_li {float:left;}
.nav_left {width:68px;background:url("../images/nav.gif") no-repeat;}
.nav_left a {display:block;font-weight:bold;margin-left:4px;width:64px;text-align:center;background:url("../images/nav.gif") right -198px no-repeat;}
.nav_left a:hover {background:url("../images/nav.gif") 0 -126px repeat-x;color:#efefef;}
.nav {width:712px;height:42px;}
.nav .nav_li {background:url("../images/nav.gif") right -198px no-repeat;width:178px;position:relative;z-index:15;}
.nav .nav_li .nav_a {float:left;font-weight:bold;width:178px;text-align:center;}
.nav .change {background:url("../images/nav.gif") 0 -126px repeat-x;}
.nav_right {background:url("../images/nav.gif") right -84px no-repeat;float:right;width:224px;}
.nav_right a {display:block;font-weight:bold;width:142px;margin:0 auto;background:url("../images/nav_cate.gif") right center no-repeat; outline:none;}

.hd_for {width:980px;margin:0 auto;padding:0 10px;overflow:hidden;zoom:1;line-height:28px;border-bottom:1px solid #d3d3d3;}
.hd_for .cart_left {float:left;}
.hd_for .cart_left ,.hd_for .a_color {-webkit-text-size-adjust:none; font-size:11px;}
.hd_for .span_cart {float:right;}
.hd_for .cart_bg {float:left;margin-right:10px;}
.hd_for .cart {float:left;color:#0066b0;margin-right:15px;font-style:italic;font-weight:bold;}

 
																/*conment*/
.conment {width:980px;margin:0 auto;overflow:hidden;zoom:1;}
.con_left {float:left;width:235px;}
.cate {margin-top:10px;position:relative;z-index:5;}
.feature {position:relative;z-index:2;}
.title {line-height:37px;height:37px;font-size:14px;padding-left:14px;background-color:#b8d6ec;}
.cate_con {border:1px solid #d3d3d3;border-top:none;padding:2px 0 2px 3px;}
.cate_con .li_tit {line-height:31px;width:218px;padding-left:10px;background:url("../images/h3_bg.gif") 212px  no-repeat;position:relative;}
.cate_con .cate_change {background:none;border:1px solid #ff6c00;line-height:29px;}
.cate_con .li_tit .li_a {padding-left:11px;background:url("../images/sanjiao_hui.gif") left center no-repeat;font-weight:bold;}
.cate_con .li_tit .a_change {color:#ff6c00;background:url("../images/cheng.gif") left center no-repeat;}

.cate_ol {position:absolute;left:228px;top:-1px;z-index:50;width:207px;display:none;}
.cate_ol li {line-height:12px;padding:15px 0 0 10px;border-left:1px solid #fe6d00;border-right:1px solid #fe6d00;text-align:left;background-color:white;}
.cate_ol .li_spe {border-left:0 none;padding-top:17px;border-top:1px solid #fe6d00;}
.cate_ol .li_last {padding-bottom:18px;border-bottom:1px solid #fe6d00;}
.cate_ol li a {background:url("../images/cate_hui.gif") left center no-repeat;padding-left:12px;font-weight:bold;}
.cate_ol li a:hover {background:url("../images/cate_cheng.gif") left center no-repeat;color:#ff6c00;}


.fea_list {width:191px;margin:0 auto;padding:11px 0 9px;}
.fea_list .a_pic {border:1px solid #c0c0c0;margin:0 auto 7px;width:189px;display:block;overflow:hidden;}
.fea_list .a_pic img {display:block;margin:0 auto;}
.fea_list .a_pic:hover {border:1px solid #ff6c00;}
.fea_list .pro_inf,.pro_list dd .pro_inf,.fea_pro_list dd .pro_inf {line-height:20px;color:#4090cd;}
.fea_list a:hover,.pro_list dd a:hover,.fea_pro_list dd a:hover {color:#ff6c00; text-decoration:underline;}
.fea_list span {display:block;line-height:20px;}
.fea_list span var,.pro_list dd var,.fea_pro_list dd var {margin-right:20px;text-decoration:line-through;}
.fea_list span em,.pro_list dd em,.fea_pro_list dd em {color:#e12325;font-weight:bold;}

.ad_pic {margin-top:10px;}
.ad_pic a {display:block;}
.ad_pic .pic_special {margin:11px 0;}



													




													/*bottom*/
.bottom {margin-top:10px;}

.letter {width:1000px;margin:0 auto;line-height:30px;border:1px solid #e4e4e4;background-color:#eeeeee;}
.letter .letter_con {border:1px solid white;padding-left:14px;}
.letter_con span {color:#3287c2;padding-right:7px;}
.letter_con a {padding:0 7px 0 15px;color:#3287c2;background:url("../images/dian.gif") left center no-repeat;}
.letter_con a:hover {color:#ff6c00;}

.ser_list {width:980px;margin:10px auto 0;overflow:hidden;zoom:1;}
.ser_list .list_left {float:left;border:2px solid #e4e4e4;padding:7px 0 12px;}
.ser_list .list_left .list_one {float:left;width:164px;margin-left:36px;display:inline;}
.ser_list .list_left .list_one dt {font-size:14px;color:black;font-weight:bold;line-height:24px;}
.ser_list .list_left .list_one dd {line-height:20px;}
.ser_list .list_left .list_one dd a {padding-left:10px;background:url("../images/cate_hui.gif") left center no-repeat;}
.ser_list .list_left .list_one dd a:hover {color:#ff6c00;background:url("../images/cate_cheng.gif") left center no-repeat; text-decoration:underline;}

.list_right {float:left;margin-left:39px;display:inline;}
.list_right .friend {background:url("../images/abc.gif") -379px -254px no-repeat;display:block;font-size:14px;color:#1e2a79;font-weight:bold;padding-left:26px;margin:20px 0;}
.list_right .fd_text,.list_right .fd_sub {float:left;}
.list_right .fd_text {border:1px solid #1e2a79;width:234px;height:20px;padding:3px 0 3px 3px;margin-right:10px;}
.list_right .fd_sub {background:url("../images/abc.gif") -44px -250px no-repeat;width:69px;height:27px;border:0 none;overflow:hidden;}
.list_right .fd_enter {background:url("../images/abc.gif") -44px -287px no-repeat;width:69px;height:27px;border:0 none;overflow:hidden;}

.pic_link {margin-top:27px;}
.pic_link .a_link {text-align:center;margin-bottom:14px;}
.pic_link .a_link a {margin-right:3px;}
.pic_link p {line-height:24px;width:368px;text-align:center;margin:0 auto;}
.pic_link p img {vertical-align:middle;}
.pic_link p .bot_a:hover {color:#ff6c00;}
.pic_link .p_word {border-top:1px solid #a5a5a5;padding-top:2px;}
.pic_link .pic_a_link {padding-left:5px;}
.pic_link .pic_a_link:hover {text-decoration:underline;}

.po_top {position:fixed;right:0;left:auto;bottom:0;top:auto;z-index:80;_position:absolute;_bottom:auto;_right:auto;_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.po_top a {display:block;width:19px;height:63px;background:url("../images/abc.gif") -381px -59px no-repeat;}
